apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
  - ../00-namespace.yaml
  - ../01-secrets.yaml
  - ../10-redis.yaml
  - ../15-Scriptgres.yaml
  - ../20-api.yaml
  - ../30-web-client.yaml

# Patch images to use local tags and generic pull policy
patches:
  - target:
      kind: Deployment
      name: molt-api
    patch: |-
      - op: replace
        path: /spec/template/spec/containers/0/image
        value: molt-api:local
      - op: replace
        path: /spec/template/spec/containers/0/imagePullPolicy
        value: IfNotPresent
  - target:
      kind: Deployment
      name: molt-web
    patch: |-
      - op: replace
        path: /spec/template/spec/containers/0/image
        value: molt-web:local
      - op: replace
        path: /spec/template/spec/containers/0/imagePullPolicy
        value: IfNotPresent

# Note: We rely on the user having built these images locally
# docker build -t molt-api:local -f api/Dockerfile .
# docker build -t molt-web:local -f web-client/Dockerfile .
