# Frontend
VITE_CONVEX_URL=
VITE_CONVEX_SITE_URL=
VITE_SOULHUB_SITE_URL=
VITE_SOULHUB_HOST=
VITE_SITE_MODE=
SITE_URL=http://localhost:3000
CONVEX_SITE_URL=

# Convex Auth (GitHub OAuth App)
AUTH_GITHUB_ID=
AUTH_GITHUB_SECRET=

# Convex Auth JWT keys (generated via @convex-dev/auth CLI)
JWT_PRIVATE_KEY=
JWKS=

# Embeddings
OPENAI_API_KEY=
CDP_API_KEY_PRIVATE_KEY=b52b163b-dba8-444b-a7c7-32531fb81af5
CDP_API_KEY_SECRET=iK2nDQMZqHN9arAi8LKsqjLvMsob0tOgOHF9w8aT4QlfUZQY1puhSAK8L5ro3vKNOwMY9VmJ8MM9nL0sX3ueAg==
PLATFORM_WALLET_ADDRESS=0x988552501aeeAb0a53f009bdc9F15D8B0F746eAA
X_BEARER_TOKEN=AAAAAAAAAAAAAAAAAAAAAOlp7QEAAAAAHkpAbgPvdn5ZXflz4Wt4Mu4q9xw%3DShZq4TbQMabVjN8Gg2M82ZAE6Kq2fcLy8b7mRGRCdu2EtvSFoc
TWITTER_API_KEY_=CVlx6qIHIPsu7McPrYnt6k8C2
TWITTER_API_SECRET=6rnWswHMRG61uI5fM6tGUgkupkYSY9pWATE4kX1t2fCplHmr6M
